{% if page_obj.has_other_pages %}
<div class="pager">
    {% if page_obj.has_previous %}
        <a class="btn btn-line" href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ page_obj.previous_page_number }}">Trước</a>
    {% endif %}
    <span class="user-chip">Trang {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a class="btn btn-line" href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ page_obj.next_page_number }}">Sau</a>
    {% endif %}
</div>
{% endif %}
